.footer__link {
  color: #FFFFFF;
  align-self: flex-end;
  margin-right: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .footer__link {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
    align-self: start;
  }
}