.lead__title {
    width: 720px;
    margin: 56px auto 0;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 48px auto 0;
  }
}

@media screen and (max-width: 745px) {
  .lead__title {
    width: 92vw;
    font-size: 58px;
    line-height: 62px;
  }
}

@media screen and (max-width: 460px) {
  .lead__title {
    width: 288px;
    font-size: 40px;
    line-height: 44px;
  }  
}