.footer__copyright {
  text-align: end;
  margin: 0;
  align-self: flex-end;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 640px) {
  .footer__copyright {
    text-align: start;
    line-height: 14px;
    align-self: flex-start;    
  }
}