.cover__title {
  width: 560px;
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;  
}

@media screen and (max-width: 590px) {
  .cover__title {
    width: 460px;
    font-size: 55px;
    line-height: 51px;
  }
}

@media screen and (max-width: 480px) {
  .cover__title {
    width: 288px;
    font-size: 32px;
    line-height: 36px;
  }
}